body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(198, 209, 216);
  padding: 0;
  background-image: url("portback.webp");
  background-size: cover;
  
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  
}

header h1 {
  margin: 0;
}

#about1 {
  text-align: center;
  padding: 1px 0;
}
#about {
  text-align: center;
  padding: 20px 0;
}

#about img {
  width: 100px;
  border-radius: -1000%;
}

#skills {
  text-align: left;
  padding: 10px 0;
}

#skills ul {
  list-style: none;
}

#projects {
  text-align: center;
  padding: 20px 0;
}

.project {
  margin-bottom: 20px;
}

.project img {
  max-width: 50%;
  border-radius: 5px;
}

#resume,
#contact {
  text-align: center;
  padding: 20px 0;
}

#resume a {
  text-decoration: none;
  color: #0f0e0e;
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 5px;
}

footer {
  background-color: #fefdfd;
  color: #0c0c0c;
  text-align: center;
  padding: 20px 0;
}

